altair                    
anyio                     
argon2-cffi               
argon2-cffi-bindings      
asttokens                
async-lru               
attrs                     
Babel                    
beautifulsoup4            
bleach                  
blinker                  
Brotli                    
cachetools                
catboost                  
certifi                   
cffi                      
charset-normalizer        
click                    
colorama                
comm                      
contourpy                 
cycler                    
debugpy                   
decorator                 
defusedxml               
executing                 
fastjsonschema          
fonttools                
gitdb                     
GitPython               
graphviz                
h11                       
httpcore                  
httpx                     
idna                      
ipykernel                 
ipython                   
jedi                      
Jinja2                  
joblib                   
json5                   
jsonschema                
jsonschema-specifications 
jupyter_client           
jupyter_core              
jupyter-events           
jupyter-lsp              
jupyter_server           
jupyter_server_terminals  
jupyterlab                
jupyterlab-pygments      
jupyterlab_server        
kiwisolver               
lightgbm                  
markdown-it-py          
MarkupSafe               
matplotlib               
matplotlib-inline         
mdurl                    
mistune                   
narwhals                
nbclient                
nbconvert                 
nbformat                  
nest-asyncio              
notebook                 
notebook_shim             
numpy                     
overrides                 
packaging                
pandas                   
pandocfilters          
parso                   
pillow                   
pip                     
platformdirs             
plotly                    
prometheus-client         
prompt-toolkit            
protobuf                
psutil                  
pure-eval               
pyarrow               
pycparser                 
pydeck                    
Pygments                  
pyparsing              
PySocks                   
python-dateutil           
python-json-logger        
pytz                      
pywin32                   
pywinpty                  
PyYAML                    
pyzmq                     
referencing              
requests                  
rfc3339-validator         
rfc3986-validator         
rich                      
rpds-py                   
scikit-learn              
scipy                     
seaborn                   
Send2Trash                
setuptools                
six                       
smmap                    
sniffio                  
soupsieve                 
stack-data                
streamlit                 
tenacity                  
terminado                 
threadpoolctl             
tinycss2                  
toml                      
tornado                   
traitlets                 
typing_extensions         
tzdata                    
urllib3                   
watchdog                  
wcwidth                   
webencodings              
websocket-client          
wheel                     
win-inet-pton             
wordcloud                 
xgboost                   
